body,
html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #E4FFF9 !important;
}

.nav-logo {
    width: 180px;
}

.navbar {
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-toggler {
    border: none !important;
}

.left-align {
    margin-left: auto;
}

.active {
    color: #76FEC5 !important;
    transition: color 0.5s ease-in;
}

h1 {
    color: #00848C !important;
    font-size: 3em;
    font-weight: 700;
}

 p {
    font-size: 1.6em;
    color: #17F1D7 !important;
}

.fp-tooltip {
    color: #45D09E !important;
}

ul span {
    background: #00CF91 !important;
}

.full-container {
    padding: 0 !important;
    position: static;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-margin {
    padding-right: 50px!important;
}

.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translate(0, -20%);
}

.img-circle {
    max-width: 60%;
    z-index: 3;
}

.icon{
    width: 150px!important;
    margin: 0 auto;
    padding-top: 20px;
}

.card-price {
    color: #45D09E;
    font-weight: 700;
}

.card-info {
    margin-top: 25px;
    color: #17F1D7!important
}

.card-subtitle {
    color: #6bf8e8!important 
}

.card-button{
    margin-top: 25px;
    border: none;
    background-color: #45D09E;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
}

.card{
    border-radius: 25px!important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none!important;
}

@media only screen and (max-width: 768px) {
    .add-margin {
        padding-right: 0px!important;
    }
    .img-container {
        transform: translate(0, 0);
    }

    p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 576px) {
    #fp-nav {
        display: none;
    }

}